
/*
¿QUÉ ES CSS?
CSS significa Cascading Style Sheets, es lo que le da estilo a tu HTML.

Se vincula a html dentro del head, ejemplo::
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">   -<----------- aqui
    <title>Document</title>
</head>



CÓMO INSERTAR ESTILOS - EJEMPLOS:

1. Editar el cuerpo, cambiar el color de fondo a "celeste":
    body {
        background-color: lightblue;
    }

2. Por etiqueta, agregar el nombre de la etiqueta:
    h1 {
        color: red;
    }

3. Por clase (el más usado), agregar un punto al inicio con el nombre de la clase del html:
    .caja {
        background-color: yellow;
    }

4. Por id, agregar un # antes del nombre del id asignado en una etiqueta del html:
    #nombre {
        border: 2px solid black;
    }   
*/

body {
    background-color: #f5f5f5;
    font-family: Arial;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}
